@import 'var';
body{
    overflow-x: hidden;
    font-family: $fontFamily;
    font-size: 18px;
    color: $clBody;
    a{
        text-decoration: none;
        color: $clBody;
    }
    .btn{
        font-size: 16px;
        font-weight: 700;
        border: 0;
        border-radius: 32px;
        -webkit-border-radius: 32px;
        -moz-border-radius: 32px;
        -ms-border-radius: 32px;
        -o-border-radius: 32px;
        padding: 12px 24px;
        &.btn-line-gradient{
            background: rgb(243,57,125);
            background: -moz-linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            background: -webkit-linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            background: linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3397d",endColorstr="#ff9153",GradientType=1);
            position: relative;
            &::before{
                position: absolute;
                content: "";
                background: #fff;
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                left: 2px;
                top: 2px;
                border-radius: 32px;
                -webkit-border-radius: 32px;
                -moz-border-radius: 32px;
                -ms-border-radius: 32px;
                -o-border-radius: 32px;
            }
            span{
                position: relative;
                background: linear-gradient(180deg, #F3397D 0%, #FF9153 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
        }
        &.btn-gradient{
            background: linear-gradient(180deg, #F3397D 0%, #FF9153 100%);
            color: #fff;
            padding: 19px 56px;
            i{
                margin-left: 1rem;
                font-size: 20px;
            }
        }
    }
}
#header_site{
    background: $clGray;
    padding: 24px 0;
    .logo_site{
        img{
            height: 48px;
            width: auto;
        }
    }
    .menu_site{
        display: flex;
        list-style: none;
        column-gap: 8px;
        padding-left: 0;
        justify-content: end;
        margin-bottom: 0;
        li{
            a{
                font-size: 16px;
                display: block;
                padding: 8px 12px;
                font-weight: 500;
            }
        }
    }
}
#banner_site{
    background: $clGray;
    padding: 80px 0;
    .sub_title{
        margin-bottom: 12px;
        padding-left: 48px;
        position: relative;
        &::before{
            position: absolute;
            content: "";
            width: 36px;
            height: 1.5px;
            background: rgb(243,57,125);
            background: -moz-linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            background: -webkit-linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            background: linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3397d",endColorstr="#ff9153",GradientType=1);
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }
    }
    .desc{
        margin: 12px 0 32px;
    }
    .img_banner{
        position: relative;
        &::before{
            position: absolute;
            content: "";
            width: 60%;
            height: 100%;
            background: url(../images/line.svg) no-repeat bottom left / contain;
            left: 0;
            bottom: 0;
            transform: translate(-50%,0);
            -webkit-transform: translate(-50%,0);
            -moz-transform: translate(-50%,0);
            -ms-transform: translate(-50%,0);
            -o-transform: translate(-50%,0);
        }
    }
}
#partner{
    padding: 80px 0;
    .partner_slider{
        .item{
            display: flex;
            height: 56px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img{
                max-width: 250px;
                max-height: 56px;
                filter: grayscale(1);
                -webkit-filter: grayscale(1);
                transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
            }
            margin: 0 45px;
            &:hover{
                img{
                    filter: grayscale(0);
                    -webkit-filter: grayscale(0);
                }       
            }
        }
    }
}
#about{
    .sub_title{
        margin-bottom: 12px;
        padding-left: 48px;
        position: relative;
        &::before{
            position: absolute;
            content: "";
            width: 36px;
            height: 1.5px;
            background: rgb(243,57,125);
            background: -moz-linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            background: -webkit-linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            background: linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3397d",endColorstr="#ff9153",GradientType=1);
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }
    }
    .title{
        margin: 12px 0 32px;
    }
}

#content_site1 {
    position: relative;
    padding: 80px 0;
    .title {
        margin-bottom: 12px;
        padding-left: 48px;
        position: relative;
        &::before{
            position: absolute;
            content: "";
            width: 36px;
            height: 1.5px;
            background: rgb(243,57,125);
            background: -moz-linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            background: -webkit-linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            background: linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3397d",endColorstr="#ff9153",GradientType=1);
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }

    }
    .main_content {
        margin-bottom: 40px;
    }
    .black-square {
        width: 100%;;
        background: #111F2B;
        border-radius: 32px;
        position: relative;
        &::after{
            content: "";
            display: block;
            padding-bottom: 80%;
        }

        .content{
            position: absolute;
            .advanced{
                padding:48px 48px 17px 48px;
            }

            .content-advanced{
                color:#84939E;
                padding: 0 48px;
            }
            .img-advanced{
                margin-left: 55%;
                padding: 10% 0;
            }
        }
    } 

    .square{
        width: 100%;
        border-radius: 32px;
        font-size: 16px;
        font-weight: 700;
        border: 0;
        -webkit-border-radius: 32px;
        -moz-border-radius: 32px;
        -ms-border-radius: 32px;
        -o-border-radius: 32px;
        padding: 12px 24px;
        &.gradient-square{
            background: rgb(243,57,125);
            background: -moz-linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            background: -webkit-linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            background: linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            
            position: relative;
            display: block;
            padding-bottom: 80%;
        }
        .content{
            position: absolute;
            .modern{
            padding: 48px 48px 17px 48px;

            }

            .content-modern{
                padding: 0 48px;
            }
            .img-modern{
                margin-left: 55%;
                padding: 10% 0;
            }
        }

    }
    .space {
        width: 100%;
        height: 2%;
        color: #ffff;
    }

    .gray-square {
        width: 100%;;
        background:#F5F5F5;
        border-radius: 32px;
        position:relative;
        &::after{
            content: "";
            display: block;
            padding-bottom: 80%;
        }

        .content{
            position: absolute;
            .media{
            padding: 48px 48px 17px 48px;
            }
            .content-media{
                padding: 0 48px;
            }
            .img-media{
                margin-left: 55%;
                padding: 10% 0;
            }
        }

    }
    .imglines{
        .img-fluid{
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translate(0%,-100%);
        }
    } 
}


#service_site{
    padding: 80px 0 0 0;
    .title{
        margin-bottom: 12px;
        padding-left: 48px;
        position: relative;
        &::before{
            position: absolute;
            content: "";
            width: 36px;
            height: 1.5px;
            background: rgb(243,57,125);
            background: -moz-linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            background: -webkit-linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            background: linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3397d",endColorstr="#ff9153",GradientType=1);
            left: 43%;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }
    }
   
    .subtitle{
         color: #1C3144;
        padding-bottom: 10%;
    }
    .line{
        img{
            padding: 24px 0;
        }
    }
    .content{
            .subtitle1{
                padding: 20px 0;
            }
    }
    .number7 {
        padding-top: 64px;
    }
}
.imgbetween {
    padding: 80px 0;
    .img-fluid{
        margin-left: 70%;
        position: absolute;
    }
}
#casestudy_site {
    padding: 80px 0;
    background-color: $clGray;
    position: revert;
    .title{
        margin-bottom: 12px;
        padding-left: 48px;
        position: relative;
        &::before{
            position: absolute;
            content: "";
            width: 36px;
            height: 1.5px;
            background: rgb(243,57,125);
            background: -moz-linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            background: -webkit-linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            background: linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3397d",endColorstr="#ff9153",GradientType=1);
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }
    }
    .seeall{
        border: 0;
        padding: 30% 0;
        h3{
            transform: translate(-50%,50%);
        }
        img{
            transform: translate(95px, -45px);
        }
    }
    .list{
        display: flex;
        justify-content: space-evenly;
        .item{
            display: flex;
            flex-direction: column;
        }
    }

}

#result {
    position: relative;
    padding: 80px 0 0 0;
    .title{
        margin-bottom: 12px;
        padding-left: 48px;
        position: relative;
        &::before{
            position: absolute;
            content: "";
            width: 36px;
            height: 1.5px;
            background: rgb(243,57,125);
            background: -moz-linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            background: -webkit-linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            background: linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3397d",endColorstr="#ff9153",GradientType=1);
            left: 41%;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }
    }
    .subtitle{
        color: #1C3144;
        padding-bottom: 152px;
    }
    .button{
        padding: 32px 0;
    }
    .content{
        transform: translate(15%,-20%);
    }
    .img{
        margin-left: 60%;
        .img-fluid{ 
            position: absolute;
            bottom: 0;
            right: 0;
            
        }
    }
    
}



#partner2{
    .partner_slider2{
        padding: 80px 0;
        display: flex;
        .item1{
            height: 56px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img{
                max-width: 250px;
                max-height: 56px;
                filter: grayscale(1);
                -webkit-filter: grayscale(1);
                transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
            }
            margin: 0 45px;
            &:hover{
                img{
                    filter: grayscale(0);
                    -webkit-filter: grayscale(0);
                }       
            }
        }
    }
}

#blog_site {
    padding: 80px 0;
    .title{
        margin-bottom: 12px;
        padding-left: 48px;
        position: relative;
        &::before{
            position: absolute;
            content: "";
            width: 36px;
            height: 1.5px;
            background: rgb(243,57,125);
            background: -moz-linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            background: -webkit-linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            background: linear-gradient(180deg, rgba(243,57,125,1) 40%, rgba(255,145,83,1) 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3397d",endColorstr="#ff9153",GradientType=1);
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }
    }
    .post{
        border: 0;
        padding: 30% 0;
        transform: translate(0px, -10px);
    }
    .listads{
        display: flex;
        justify-content: space-evenly;
        .content1{
            
        }
    
    }
}

#finalpage_site{
    padding: 80px 0;
    .box-email{
        background: #fff;
        border-radius: 24px;
        width: 40%;
        position: absolute;
        transform: translate(-20%,30%);
        padding: 10px;
        box-shadow: 0px 6px 32px rgba(17, 31, 43, 0.12);
        .below{
            padding:50px 20px;
            .formSubcribe{
                .button1{
                    position: relative;
                    border: 1px solid;
                                                                                    border-radius: 32px;
                                                                                    height: 60px;
                                                                                    width: 100%;
                                                                                    padding: 0 15px;
                                                                                
                }
                .button2{
                    position: absolute;
                    transform: translate(-102%,3%);
                                                                                    background: linear-gradient(180deg, #F3397D 0%, #FF9153 100%);
                                                                                    border-radius: 32px;
                                                                                    color: white;
                                                                                    height: 56px;
                                                                                    width: 20%;
                }
            }
        }
    }
    
}

#footer_site{
    padding: 80px 0;
    background: #111F2B url(../images/Group.svg) no-repeat bottom left / 100% auto;
    height: 490px;
    p{
        color:#84939E;
        padding: 32px 0;
    }
    p1{
        padding: 32px 0;
    }
    
}



