@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/font-web/RedHatDisplay-Regular.eot");
  src: url("../fonts/font-web/RedHatDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/font-web/RedHatDisplay-Regular.woff2") format("woff2"), url("../fonts/font-web/RedHatDisplay-Regular.woff") format("woff"), url("../fonts/font-web/RedHatDisplay-Regular.ttf") format("truetype"), url("../fonts/font-web/RedHatDisplay-Regular.svg#RedHatDisplay-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/font-web/RedHatDisplay-Bold.eot");
  src: url("../fonts/font-web/RedHatDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/font-web/RedHatDisplay-Bold.woff2") format("woff2"), url("../fonts/font-web/RedHatDisplay-Bold.woff") format("woff"), url("../fonts/font-web/RedHatDisplay-Bold.ttf") format("truetype"), url("../fonts/font-web/RedHatDisplay-Bold.svg#RedHatDisplay-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/font-web/RedHatDisplay-Medium.eot");
  src: url("../fonts/font-web/RedHatDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/font-web/RedHatDisplay-Medium.woff2") format("woff2"), url("../fonts/font-web/RedHatDisplay-Medium.woff") format("woff"), url("../fonts/font-web/RedHatDisplay-Medium.ttf") format("truetype"), url("../fonts/font-web/RedHatDisplay-Medium.svg#RedHatDisplay-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/font-web/RedHatDisplay-ExtraBold.eot");
  src: url("../fonts/font-web/RedHatDisplay-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/font-web/RedHatDisplay-ExtraBold.woff2") format("woff2"), url("../fonts/font-web/RedHatDisplay-ExtraBold.woff") format("woff"), url("../fonts/font-web/RedHatDisplay-ExtraBold.ttf") format("truetype"), url("../fonts/font-web/RedHatDisplay-ExtraBold.svg#RedHatDisplay-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
.fs-14 {
  font-size: 14px;
}

.fs-60 {
  font-size: 60px;
}

.fs-20 {
  font-size: 20px;
}

.fs-26 {
  font-size: 26px;
}

.fs-24 {
  font-size: 24px;
}

.fs-18 {
  font-size: 18px;
}

.fs-16 {
  font-size: 16px;
}

.fs-28 {
  font-size: 28px;
}

.fw-extra {
  font-weight: 800;
}

.cl-gradient {
  background: linear-gradient(180deg, #F3397D 0%, #FF9153 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.cl-blue {
  color: #1C3144;
}

.cl-white {
  color: white;
}

.lh-44 {
  line-height: 44px;
}

.lh-28 {
  line-height: 28px;
}

.lh-76 {
  line-height: 76px;
}

.lh-26 {
  line-height: 26px;
}

.lh-36 {
  line-height: 36px;
}

.lh-24 {
  line-height: 24px;
}

.lh-22 {
  line-height: 22px;
}

body {
  overflow-x: hidden;
  font-family: "Red Hat Display", Arial;
  font-size: 18px;
  color: #506271;
}
body a {
  text-decoration: none;
  color: #506271;
}
body .btn {
  font-size: 16px;
  font-weight: 700;
  border: 0;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  padding: 12px 24px;
}
body .btn.btn-line-gradient {
  background: rgb(243, 57, 125);
  background: linear-gradient(180deg, rgb(243, 57, 125) 40%, rgb(255, 145, 83) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3397d",endColorstr="#ff9153",GradientType=1);
  position: relative;
}
body .btn.btn-line-gradient::before {
  position: absolute;
  content: "";
  background: #fff;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  left: 2px;
  top: 2px;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}
body .btn.btn-line-gradient span {
  position: relative;
  background: linear-gradient(180deg, #F3397D 0%, #FF9153 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
body .btn.btn-gradient {
  background: linear-gradient(180deg, #F3397D 0%, #FF9153 100%);
  color: #fff;
  padding: 19px 56px;
}
body .btn.btn-gradient i {
  margin-left: 1rem;
  font-size: 20px;
}

#header_site {
  background: #F5F5F5;
  padding: 24px 0;
}
#header_site .logo_site img {
  height: 48px;
  width: auto;
}
#header_site .menu_site {
  display: flex;
  list-style: none;
  -moz-column-gap: 8px;
       column-gap: 8px;
  padding-left: 0;
  justify-content: end;
  margin-bottom: 0;
}
#header_site .menu_site li a {
  font-size: 16px;
  display: block;
  padding: 8px 12px;
  font-weight: 500;
}

#banner_site {
  background: #F5F5F5;
  padding: 80px 0;
}
#banner_site .sub_title {
  margin-bottom: 12px;
  padding-left: 48px;
  position: relative;
}
#banner_site .sub_title::before {
  position: absolute;
  content: "";
  width: 36px;
  height: 1.5px;
  background: rgb(243, 57, 125);
  background: linear-gradient(180deg, rgb(243, 57, 125) 40%, rgb(255, 145, 83) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3397d",endColorstr="#ff9153",GradientType=1);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#banner_site .desc {
  margin: 12px 0 32px;
}
#banner_site .img_banner {
  position: relative;
}
#banner_site .img_banner::before {
  position: absolute;
  content: "";
  width: 60%;
  height: 100%;
  background: url(../images/line.svg) no-repeat bottom left/contain;
  left: 0;
  bottom: 0;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}

#partner {
  padding: 80px 0;
}
#partner .partner_slider .item {
  display: flex;
  height: 56px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 45px;
}
#partner .partner_slider .item img {
  max-width: 250px;
  max-height: 56px;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
#partner .partner_slider .item:hover img {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

#about .sub_title {
  margin-bottom: 12px;
  padding-left: 48px;
  position: relative;
}
#about .sub_title::before {
  position: absolute;
  content: "";
  width: 36px;
  height: 1.5px;
  background: rgb(243, 57, 125);
  background: linear-gradient(180deg, rgb(243, 57, 125) 40%, rgb(255, 145, 83) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3397d",endColorstr="#ff9153",GradientType=1);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#about .title {
  margin: 12px 0 32px;
}

#content_site1 {
  position: relative;
  padding: 80px 0;
}
#content_site1 .title {
  margin-bottom: 12px;
  padding-left: 48px;
  position: relative;
}
#content_site1 .title::before {
  position: absolute;
  content: "";
  width: 36px;
  height: 1.5px;
  background: rgb(243, 57, 125);
  background: linear-gradient(180deg, rgb(243, 57, 125) 40%, rgb(255, 145, 83) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3397d",endColorstr="#ff9153",GradientType=1);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#content_site1 .main_content {
  margin-bottom: 40px;
}
#content_site1 .black-square {
  width: 100%;
  background: #111F2B;
  border-radius: 32px;
  position: relative;
}
#content_site1 .black-square::after {
  content: "";
  display: block;
  padding-bottom: 80%;
}
#content_site1 .black-square .content {
  position: absolute;
}
#content_site1 .black-square .content .advanced {
  padding: 48px 48px 17px 48px;
}
#content_site1 .black-square .content .content-advanced {
  color: #84939E;
  padding: 0 48px;
}
#content_site1 .black-square .content .img-advanced {
  margin-left: 55%;
  padding: 10% 0;
}
#content_site1 .square {
  width: 100%;
  border-radius: 32px;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  padding: 12px 24px;
}
#content_site1 .square.gradient-square {
  background: rgb(243, 57, 125);
  background: linear-gradient(180deg, rgb(243, 57, 125) 40%, rgb(255, 145, 83) 100%);
  position: relative;
  display: block;
  padding-bottom: 80%;
}
#content_site1 .square .content {
  position: absolute;
}
#content_site1 .square .content .modern {
  padding: 48px 48px 17px 48px;
}
#content_site1 .square .content .content-modern {
  padding: 0 48px;
}
#content_site1 .square .content .img-modern {
  margin-left: 55%;
  padding: 10% 0;
}
#content_site1 .space {
  width: 100%;
  height: 2%;
  color: white;
}
#content_site1 .gray-square {
  width: 100%;
  background: #F5F5F5;
  border-radius: 32px;
  position: relative;
}
#content_site1 .gray-square::after {
  content: "";
  display: block;
  padding-bottom: 80%;
}
#content_site1 .gray-square .content {
  position: absolute;
}
#content_site1 .gray-square .content .media {
  padding: 48px 48px 17px 48px;
}
#content_site1 .gray-square .content .content-media {
  padding: 0 48px;
}
#content_site1 .gray-square .content .img-media {
  margin-left: 55%;
  padding: 10% 0;
}
#content_site1 .imglines .img-fluid {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0%, -100%);
}

#service_site {
  padding: 80px 0 0 0;
}
#service_site .title {
  margin-bottom: 12px;
  padding-left: 48px;
  position: relative;
}
#service_site .title::before {
  position: absolute;
  content: "";
  width: 36px;
  height: 1.5px;
  background: rgb(243, 57, 125);
  background: linear-gradient(180deg, rgb(243, 57, 125) 40%, rgb(255, 145, 83) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3397d",endColorstr="#ff9153",GradientType=1);
  left: 43%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#service_site .subtitle {
  color: #1C3144;
  padding-bottom: 10%;
}
#service_site .line img {
  padding: 24px 0;
}
#service_site .content .subtitle1 {
  padding: 20px 0;
}
#service_site .number7 {
  padding-top: 64px;
}

.imgbetween {
  padding: 80px 0;
}
.imgbetween .img-fluid {
  margin-left: 70%;
  position: absolute;
}

#casestudy_site {
  padding: 80px 0;
  background-color: #F5F5F5;
  position: revert;
}
#casestudy_site .title {
  margin-bottom: 12px;
  padding-left: 48px;
  position: relative;
}
#casestudy_site .title::before {
  position: absolute;
  content: "";
  width: 36px;
  height: 1.5px;
  background: rgb(243, 57, 125);
  background: linear-gradient(180deg, rgb(243, 57, 125) 40%, rgb(255, 145, 83) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3397d",endColorstr="#ff9153",GradientType=1);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#casestudy_site .seeall {
  border: 0;
  padding: 30% 0;
}
#casestudy_site .seeall h3 {
  transform: translate(-50%, 50%);
}
#casestudy_site .seeall img {
  transform: translate(95px, -45px);
}
#casestudy_site .list {
  display: flex;
  justify-content: space-evenly;
}
#casestudy_site .list .item {
  display: flex;
  flex-direction: column;
}

#result {
  position: relative;
  padding: 80px 0 0 0;
}
#result .title {
  margin-bottom: 12px;
  padding-left: 48px;
  position: relative;
}
#result .title::before {
  position: absolute;
  content: "";
  width: 36px;
  height: 1.5px;
  background: rgb(243, 57, 125);
  background: linear-gradient(180deg, rgb(243, 57, 125) 40%, rgb(255, 145, 83) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3397d",endColorstr="#ff9153",GradientType=1);
  left: 41%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#result .subtitle {
  color: #1C3144;
  padding-bottom: 152px;
}
#result .button {
  padding: 32px 0;
}
#result .content {
  transform: translate(15%, -20%);
}
#result .img {
  margin-left: 60%;
}
#result .img .img-fluid {
  position: absolute;
  bottom: 0;
  right: 0;
}

#partner2 .partner_slider2 {
  padding: 80px 0;
  display: flex;
}
#partner2 .partner_slider2 .item1 {
  height: 56px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 45px;
}
#partner2 .partner_slider2 .item1 img {
  max-width: 250px;
  max-height: 56px;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
#partner2 .partner_slider2 .item1:hover img {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

#table_site .bigsquare {
  width: 100%;
  border-radius: 0 32px 32px 0;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  height: 100vh;
  -webkit-border-radius: 0 32px 32px 0;
  -moz-border-radius: 0 32px 32px 0;
  -ms-border-radius: 0 32px 32px 0;
  -o-border-radius: 0 32px 32px 0;
  padding: 80px 0;
}
#table_site .bigsquare.gradient-square {
  background: rgb(243, 57, 125);
  background: linear-gradient(180deg, rgb(243, 57, 125) 40%, rgb(255, 145, 83) 100%);
  position: relative;
  display: block;
  padding-bottom: 30%;
}
#table_site .bigsquare h2 {
  padding-left: 48px;
  position: relative;
  color: #000;
  margin-left: 20%;
  margin-top: 20%;
}
#table_site .bigsquare h2::before {
  position: absolute;
  content: "";
  width: 36px;
  height: 1.5px;
  background: #000;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3397d",endColorstr="#ff9153",GradientType=1);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#table_site .bigsquare h3 {
  color: #fff;
  padding: 10% 20% 0 20%;
  margin-top: 20%;
}
#table_site .slidertable {
  height: 90%;
  padding-left: 12px;
}
#table_site .slidertable .slick-list {
  height: 100%;
}
#table_site .slidertable .slick-track {
  height: 100%;
}
#table_site .slidertable .item {
  height: 100%;
  margin: 0 6px;
}
#table_site .slidertable .item .smallsquare {
  width: 500px;
  background: #F5F5F5;
  border-radius: 32px;
  position: relative;
  height: 50%;
}
#table_site .slidertable .item .smallsquare .img-fluid {
  transform: translate(150%, 200%);
}
#table_site .slidertable .item .smallsquare p {
  padding: 100px 72px 150px 72px;
}
#table_site .slidertable .item .smallsquare h3 {
  transform: translate(70px, -130px);
  padding-left: 48px;
  position: relative;
}
#table_site .slidertable .item .smallsquare h3::before {
  position: absolute;
  content: "";
  width: 36px;
  height: 1.5px;
  background: rgb(243, 57, 125);
  background: linear-gradient(180deg, rgb(243, 57, 125) 40%, rgb(255, 145, 83) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3397d",endColorstr="#ff9153",GradientType=1);
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#table_site .slidertable .item h4 {
  transform: translate(70px, -130px);
}
#table_site .slick-next {
  right: 40px;
}

#blog_site {
  padding: 80px 0;
}
#blog_site .title {
  margin-bottom: 12px;
  padding-left: 48px;
  position: relative;
}
#blog_site .title::before {
  position: absolute;
  content: "";
  width: 36px;
  height: 1.5px;
  background: rgb(243, 57, 125);
  background: linear-gradient(180deg, rgb(243, 57, 125) 40%, rgb(255, 145, 83) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3397d",endColorstr="#ff9153",GradientType=1);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#blog_site .blog {
  padding: 0 0 50px 0;
}
#blog_site .post {
  border: 0;
  padding: 30% 0;
  transform: translate(0px, -10px);
}
#blog_site .listads {
  display: flex;
}
#blog_site .listads .content1 {
  flex: 1 0 0;
  flex-direction: column;
  justify-content: space-evenly;
}
#blog_site .listads .content1 .content2 {
  padding: 20px 0;
}
#blog_site .listads .content1 .content2 h3 {
  padding: 0 2%;
}
#blog_site .listads .content1 .content2 h4 {
  padding: 0 2%;
}

#finalpage_site {
  padding: 80px 0;
  position: relative;
}
#finalpage_site .box-email {
  background: #fff;
  border-radius: 24px;
  width: 40%;
  height: 50%;
  position: absolute;
  transform: translate(-20%, 30%);
  padding: 10px;
  box-shadow: 0px 6px 32px rgba(17, 31, 43, 0.12);
}
#finalpage_site .box-email .above {
  padding: 7% 0 0 0;
  display: flex;
}
#finalpage_site .box-email .above img {
  padding: 0 0 0 20%;
}
#finalpage_site .box-email .above p {
  padding: 0 20% 0 0;
}
#finalpage_site .box-email .below {
  padding: 50px 20px;
}
#finalpage_site .box-email .below .formSubcribe .button1 {
  position: relative;
  border: 1px solid;
  border-radius: 32px;
  height: 60px;
  width: 100%;
  padding: 0 15px;
}
#finalpage_site .box-email .below .formSubcribe .button2 {
  position: absolute;
  transform: translate(-102%, 3%);
  background: linear-gradient(180deg, #F3397D 0%, #FF9153 100%);
  border-radius: 32px;
  color: white;
  height: 56px;
  width: 20%;
}
#finalpage_site .picture .line {
  position: absolute;
  right: 0;
  transform: translate(-50%, -100%);
}

#footer_site {
  padding: 80px 0;
  background: #111F2B url(../images/Group.svg) no-repeat bottom left/100% auto;
  height: 490px;
}
#footer_site p {
  padding: 4% 0;
  color: #84939E;
}
#footer_site .icon {
  display: flex;
  gap: 5%;
}
#footer_site .item h4 {
  color: #fff;
  padding-bottom: 8%;
}
#footer_site .item ul {
  padding: 0 1px;
}
#footer_site .item ul li {
  display: flex;
  align-items: flex-start;
  color: #84939E;
  font-size: 16px;
  margin-bottom: 0.75rem;
}
#footer_site .item ul li img {
  margin-right: 0.75rem;
  margin-top: 0.25rem;
  left: 0;
}
#footer_site .item ul li a {
  color: #84939E;
}/*# sourceMappingURL=main.css.map */